body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background: grey;
}

h2 {
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 15px;
}

button {
    padding: 5px 10px;
    margin: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.completed {
    background-color: rgb(119, 204, 119);
}

.pending {
    background-color:rgb(211, 98, 98);
}
